In [1]:
import pandas as pd
import numpy as np

In [3]:
#gts = pd.read_csv('./GTSM_2023_06.txt',sep='|',header=None)
citadelSec = pd.read_csv("./downloaded_reports/CitadelSec//June-2023_TCDRG-202306.txt",sep='|',header=None)

In [4]:
# F1: Designated Participant Code	F10: Market Center Executed Shares	F19: Price-Improved Shares
# F2: Market Center Code	F11: Away Executed Shares	F20: Price Improved Average Amount ($)
# F3: Date	F12: Shares from 0 to 9 Seconds	F21: Price Improved Average Time (seconds)
# F4: Security Ticker Symbol	F13: Shares from 10 to 29 Seconds	F22: At-the Quote Shares
# F5: Order Type Code	F14: Shares from 30 to 59 Seconds	F23: At-the-Quote Average Time (seconds)
# F6: Order Size Code	F15: Shares from 60 to 299 Seconds	F24: Outside-the-Quote Shares
# F7: Total Covered Orders	F16: Shares from 5 to 30 Minutes	F25: Outside-the-Quote Average Amount ($)
# F8: Total Covered Shares	F17: Average Realized Spread ($)	F26: Outside-the-Quote Average Time (seconds)
# F9: Cancelled Shares	F18: Average Effective Spread ($)

In [4]:
columnsName = ["DP","MC",'Date',"ukey","OrderType","OrderSize","TotalOrders","TotalShares","CancelledShares","MCExecutedShares","AwayExecutedShares","SharesT1","SharesT2","SharesT3","SharesT4","SharesT5","ARSpread","AESpread","PIShares","PIAAmount","PIATimes","AQShares","AQATime","OQShares","OQAAmount","OQATime"]

In [5]:

citadelSec.columns = columnsName

In [6]:
citadelSec.groupby("ukey")["TotalShares"].sum()

ukey
A        3305600
AA      12180611
AAA         3536
AAAU    23265944
AAC      3818614
          ...
ZVSA     8577680
ZWS      1538069
ZYME     1006626
ZYNE     1356374
ZYXI     1939068
Name: TotalShares, Length: 11356, dtype: int64

In [9]:
citadelSec["OrderSize"].unique()

array([21, 22, 23, 24], dtype=int64)

In [19]:
gts.groupby("ukey").apply(lambda x: x["AwayExecutedShares"]/x["MCExecutedShares"])

ukey
A     0        0.0
      1        0.0
AA    2        0.0
      3        0.0
      4        0.0
              ...
ZYME  16056    0.0
      16057    0.0
      16058    0.0
ZYXI  16059    0.0
      16060    0.0
Length: 16060, dtype: float64

In [20]:
citadelSec.groupby("ukey").apply(lambda x: x["AwayExecutedShares"]/x["MCExecutedShares"])

ukey
A     0         0.0
      1         0.0
      2         0.0
      3         0.0
      4         0.0
               ...
ZYXI  147892    0.0
      147893    0.0
      147894    NaN
      147895    NaN
      147896    0.0
Length: 147897, dtype: float64

,version,bd,year,qtr,timestamp,mon,rSP500,rOtherStocks,rOptions
0,1.2,None,NaN,NaN,None,NaN,NaN,NaN,NaN
1,NaN,FIDELITY BROKERAGE SERVICES LLC,NaN,NaN,None,NaN,NaN,NaN,NaN
2,NaN,None,2023.0,NaN,None,NaN,NaN,NaN,NaN
3,NaN,None,NaN,2.0,None,NaN,NaN,NaN,NaN
4,NaN,None,NaN,NaN,2023-07-21T14:37:42Z,NaN,NaN,NaN,NaN
5,NaN,None,2023.0,NaN,None,4.0,NaN,NaN,NaN
6,NaN,None,2023.0,NaN,None,5.0,NaN,NaN,NaN
7,NaN,None,2023.0,NaN,None,6.0,NaN,NaN,NaN